<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://qshack-001-site1.htempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://qshack-001-site1.htempurl.com:8172/msdeploy.axd?site=qshack-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>qshack-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\qshack-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Qs.Models.ApplicationDbContext, Qs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QsContext" Order="4" Enabled="False">
          <Destination Path="Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Qs.Models.QsContext, Qs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QsContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QsContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QsContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL6003.myASP.NET;Initial Catalog=DB_A2A1E8_QsDb;User ID=DB_A2A1E8_QsDb_admin;Password=Hackathon1;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="QsContext-Web.config Connection String">
      <ParameterValue>data source=SQL6003.myASP.NET;initial catalog=DB_A2A1E8_QsDb;user id=DB_A2A1E8_QsDb_admin;password=Hackathon1;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>data source=SQL6003.myASP.NET;initial catalog=DB_A2A1E8_QsDb;user id=DB_A2A1E8_QsDb_admin;password=Hackathon1;application name=EntityFramework;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>