html {
    background-image:url('https://www.absa.co.za/content/dam/south-africa/absa/HomePageImages/gauteng/Gauteng-Desktop-New.jpg.rendition.1280.1280.png');
     -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background-color:transparent;
}

div{
    color:white;
}
h2{
    color:white;
}

h4{
    color:white;
}

table{
    color:white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    background-image:url('https://www.absa.co.za/content/dam/south-africa/absa/HomePageImages/gauteng/Gauteng-Desktop-New.jpg.rendition.1280.1280.png');
     
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
